/* Variables */
:root {
    --white-clr: #E0E0E0;
    --accent-clr: #F13D3D;
    --background-clr: #131313;
    --container-clr: #1A1A1A;
    --lead-clr: #575757;

    --fs-small: 1.25rem;
    --fs-normal: 1rem;
    --fs-medium: 1.5rem;
    --fs-large: 2rem;
    --fs-verylarge: 2.25rem;

    --fw-light: ;
    --fw-bold: ;
    --fw-thick: ;
}


/* Resets */
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    scroll-behavior: smooth;
}

a, a:visited, a:hover {
    color: unset;
    text-decoration: none;
}

body {
    background-color: var(--background-clr);
    color: var(--white-clr);
    font-family: arial;
}

.describer-font {
    font-family: 'Indie Flower', cursive;
    color: var(--lead-clr);
    font-weight: bold;
}

section {
    padding: 50px 22%;
}

section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section .section-header p {
    font-family: 'Indie Flower';
    font-size: var(--fs-normal);
    margin-bottom: -5px;
    color: var(--lead-clr);
    font-weight: bold;
}

section .section-header h1 {
    font-size: var(--fs-large);
    font-weight: bold;
}

section .section-header hr {
    width: 15%;
    height: 3px;
    background-color: var(--accent-clr);
    border: 0;
}

/* Header */
header {
    position: absolute;
    top: 0;
    width: 100%;
}

header nav {
    padding: 40px 22%;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

/* Hero section */
#hero {
    font-family: arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 10px 22%;
    gap: 40px;
}

#hero .introduction, #hero .contacts, #hero > p{
    margin: 0px auto;
}

#hero .introduction {
    display: flex;
    flex-direction: column;
}

#hero .introduction h1 {
    font-size: var(--fs-verylarge);
    font-weight: bold;
}

#hero .introduction p {
    font-size: var(--fs-medium);
}

#hero .introduction span {
    color: var(--accent-clr)
}

#hero .contacts {
    display:  flex;
    width: 100%;
    justify-content: center;
    gap: 60px;
}

#hero .contacts a {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#hero .contacts a object {
    max-width: 30px;
    aspect-ratio: 1;
    margin: 10px auto;
    color: var(--container-clr);
}

#hero .contacts a h1 {
    margin: auto;
    color: #242424;
    color: var(--lead-clr);
    font-weight: bold;
    transition: color ease-in-out .2s;
}

#hero .contacts a h1:hover {
    color: var(--accent-clr);
}

#hero > p {
    margin-top: 10px;
    color: var(--lead-clr);
    font-size: var(--fs-medium);
}

#hero > p span {
    padding: 10px 10px;
    /* background-color: var(--accent-clr); */
    border: 2px solid var(--accent-clr);
    border-radius: 10px;
    color: var(--white-clr)
}

#hero p:hover {
    content: "retretd"
}

/* about me section */

#skills {
    margin: 50px 0;
}

#about-me .section-content {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 30px;
}

#about-me .img-container {
    border: 3px solid var(--accent-clr);
    width: 100%;
    aspect-ratio: 1;
    /* height: 60%; */
    overflow: hidden;
    padding: 0px 10px;
    border-radius: 20px;
    background-color: var(--background-clr);
    box-shadow: 3px 3px 3px black;
}

#about-me img {
    object-fit: cover;
    width: 100%;
    margin: 0 auto;
    /* aspect-ratio: 1; */
    overflow: hidden;
    object-position: 0px 10px;
}

#about-me .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#about-me .content h1 {
    font-size: var(--fs-verylarge);
}

#about-me .content > p {
    font-weight: normal;
    color: var(--lead-clr);
}

#about-me .data {
    width: 100%;
    color: var(--white-clr);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13px;
    background-color: var(--container-clr);
    padding: 20px;
    border-radius: 20px;
}

#about-me .data p {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

#about-me .data .question {
    font-weight: bold;
}

#about-me .data .question::after {
    content: ":";
}

#about-me .data .point {
    width: 10px;
    height: 10px;
    background-color: var(--background-clr);
    border: 2px solid var(--accent-clr);
    border-radius: 100%;
    margin: auto 0;
}

#about-me .paragraph {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--lead-clr)
}

#about-me button {
    padding: 10px 15px;
    background-color: var(--accent-clr);
    border: 0;
    border-radius: 10px;
    color: var(--white-clr);
    font-weight: bold;
    cursor: pointer;
}


#about-me .hire-me {
    background-color: transparent;
}

#skills .section-content {
    height: 330px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
}

#skills .element {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

#skills .element h1 {
    font-weight: bold;
    font-size: 1.3rem;
}

#skills .element p {
    font-weight: 1;
    color: var(--lead-clr);
}

#skills object {
    margin: 0 auto;
    width: 50px;
    aspect-ratio: 1;
}

#projects .element {
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--container-clr);
}

#projects .section-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

#projects > p {
    text-align: center;
    font-size: var(--fs-medium);
    font-weight: bold;
}


#contact-me form {
    font-size: 1.2rem;
    margin: 0 auto;
    width: 80%;
    padding: 40px 40px;
    background-color: var(--container-clr);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#contact-me form span {
    color: var(--accent-clr);
}

#contact-me form h1 {
    margin-top: 30px;
    margin-bottom: 6px;
}

#contact-me form h1::after {
    content: ":"
}

#contact-me form h1:first-of-type {
    margin-top: 0;
}

#contact-me form input, textarea {
    padding: 5px;
    background-color: var(--background-clr);
    border: none;
    font-size: var(--fs-normal);
}

#contact-me button {
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--accent-clr);
    font-size: var(--fs-normal);
    color: var(--white-clr);
    font-weight: bold;
}

footer {
    padding: 60px;
    background-color: var(--container-clr);
}

footer p {
    margin: auto;
    text-align: center;
}

/* Media queries ^^ */
@media only screen and (max-width: 1500px) {
    section {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media only screen and (max-width: 1200px) {
    section {
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media only screen and (max-width: 1000px) {
    section {
        padding-left: 20px;
        padding-right: 20px;
    }

    #about-me .section-content {
        grid-template-columns: 1fr 2.5fr;
        height: 500px;
    }

}
@media only screen and (max-width: 750px) {

    #about-me .section-content {
        grid-template-columns: 1fr 1fr;
    }

}
@media only screen and (max-width: 640px) {
    #skills .section-content {
        display: grid;
        grid-template-columns: 1fr;
    }
}
