/* Variables */
:root {
    --white-clr: #E0E0E0;
    --accent-clr: #F13D3D;
    --background-clr: #131313;
    --container-clr: #1A1A1A;
    --lead-clr: #575757;

    --fs-small: 1.25rem;
    --fs-normal: 1rem;
    --fs-medium: 1.5rem;
    --fs-large: 2rem;
    --fs-verylarge: 2.25rem;

    --fw-light: ;
    --fw-bold: ;
    --fw-thick: ;
}


body {
    background-color: var(--background-clr);
    color: var(--white-clr);
    font-family: arial;
}

.describer-font {
    font-family: 'Indie Flower', cursive;
    color: var(--lead-clr);
    font-weight: bold;
}

section {
    padding: 50px 22%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section .section-header p {
    font-family: 'Indie Flower';
    font-size: var(--fs-medium);
    margin-bottom: -5px;
    color: var(--lead-clr);
    font-weight: bold;
}

section .section-header h1 {
    font-size: var(--fs-verylarge);
    font-weight: bold;
}

section .section-header hr {
    width: 15%;
    height: 3px;
    background-color: var(--accent-clr);
    border: 0;
}

/* Header */
header {
    position: absolute;
    top: 0;
    width: 100%;
}

header {
    padding: 40px 22%;
    transition: all ease-in-out .3s;
    transition: padding ease-in-out .3s;
}

.stickyheader {
    padding: 25px 22%;
    position: fixed;
    top: 0;
    background-color: var(--lead-clr);
}

header nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#contact-me button {
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--accent-clr);
    font-size: var(--fs-normal);
    color: var(--white-clr);
    font-weight: bold;
}

footer {
    padding: 60px;
    background-color: var(--container-clr);
}

footer p {
    margin: auto;
    text-align: center;
}
